@model IEnumerable<MvcCore.Models.ProductType>
@using System.Web
@{
    ViewData["Title"] = "Index";
}

@if (TempData["SM"] != null)
{
    <div class="row text-center">
        <div class="col-12 alert alert-success">
            @TempData["SM"]
        </div>
    </div>
}

<div class="row mt-2">
    <div class="col-6">
        <h2 class="text-info">Product Type List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp; New Product Type</a>
    </div>
</div>

<div class="mt-1">
    <table class="table table-striped border">
        <thead>
            <tr class="table-info">
                <th>@Html.DisplayNameFor(x => x.Name)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => item.Name)</td>
                    <td><a class="btn btn-primary" href="@HttpUtility.UrlDecode(Url.Action($"Edit/{item.Id}"))">EDIT</a>| DELETE | UPDATE</td>
                </tr>
            }
        </tbody>
    </table>
</div>